form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #0088cc;
    box-shadow: 0 0 5px rgba(0, 136, 204, 0.5);
}

button[type="submit"] {
    margin-top: 3px;
    background-color: #0088cc;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0077b3;
}

button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 136, 204, 0.5);
}
